// green Color

$green: #4caf50 !default;
$green-lighten-5: #e8f5e9 !default;
$green-lighten-4: #c8e6c9 !default;
$green-lighten-3: #a5d6a7 !default;
$green-lighten-2: #81c784 !default;
$green-lighten-1: #66bb6a !default;
$green-darken-1: #43a047 !default;
$green-darken-2: #388e3c !default;
$green-darken-3: #2e7d32 !default;
$green-darken-4: #1b5e20 !default;
$green-accent-1: #b9f6ca !default;
$green-accent-2: #69f0ae !default;
$green-accent-3: #00e676 !default;
$green-accent-4: #00c853 !default;

$green-lighten: () !default;

$green-lighten: map-merge(

	(
		"green-lighten-5": $green-lighten-5,
		"green-lighten-4": $green-lighten-4,
		"green-lighten-3": $green-lighten-3,
		"green-lighten-2": $green-lighten-2,
		"green-lighten-1": $green-lighten-1
	),
	$green-lighten
);
$green-darken: () !default;
$green-darken: map-merge(

	(
		"green": $green,
		"green-darken-4": $green-darken-4,
		"green-darken-3": $green-darken-3,
		"green-darken-2": $green-darken-2,
		"green-darken-1": $green-darken-1
	),
	$green-darken
);

$green-accent: () !default;
$green-accent: map-merge(

	(
		"green-accent-4": $green-accent-4,
		"green-accent-3": $green-accent-3,
		"green-accent-2": $green-accent-2,
		"green-accent-1": $green-accent-1
	),
	$green-accent
);

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(

	(
		"green-lighten-1":$green-lighten-1,
		"green-lighten-2":$green-lighten-2,
		"green-lighten-3":$green-lighten-3,
		"green-lighten-4":$green-lighten-4,
		"green-lighten-5":$green-lighten-5,
		"green-darken-1":$green-darken-1,
		"green-darken-2":$green-darken-2,
		"green-darken-3":$green-darken-3,
		"green-darken-4":$green-darken-4,
		"green-accent-1":$green-accent-1,
		"green-accent-2":$green-accent-2,
		"green-accent-3":$green-accent-3,
		"green-accent-4":$green-accent-4
	),
	$colors
);
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(

	(
		"green": $green,
		"green-lighten-1":$green-lighten-1,
		"green-lighten-2":$green-lighten-2,
		"green-lighten-3":$green-lighten-3,
		"green-lighten-4":$green-lighten-4,
		"green-lighten-5":$green-lighten-5,
		"green-darken-1":$green-darken-1,
		"green-darken-2":$green-darken-2,
		"green-darken-3":$green-darken-3,
		"green-darken-4":$green-darken-4,
		"green-accent-1":$green-accent-1,
		"green-accent-2":$green-accent-2,
		"green-accent-3":$green-accent-3,
		"green-accent-4":$green-accent-4
	),
	$theme-colors
);
