// teal Color

$teal: #009688 !default;
$teal-lighten-5: #e0f2f1 !default;
$teal-lighten-4: #b2dfdb !default;
$teal-lighten-3: #80cbc4 !default;
$teal-lighten-2: #4db6ac !default;
$teal-lighten-1: #26a69a !default;
$teal-darken-1: #00897b !default;
$teal-darken-2: #00796b !default;
$teal-darken-3: #00695c !default;
$teal-darken-4: #004d40 !default;
$teal-accent-1: #a7ffeb !default;
$teal-accent-2: #64ffda !default;
$teal-accent-3: #1de9b6 !default;
$teal-accent-4: #00bfa5 !default;

$teal-lighten: () !default;

$teal-lighten: map-merge(

	(
		"teal-lighten-5": $teal-lighten-5,
		"teal-lighten-4": $teal-lighten-4,
		"teal-lighten-3": $teal-lighten-3,
		"teal-lighten-2": $teal-lighten-2,
		"teal-lighten-1": $teal-lighten-1
	),
	$teal-lighten
);
$teal-darken: () !default;
$teal-darken: map-merge(

	(
		"teal": $teal,
		"teal-darken-4": $teal-darken-4,
		"teal-darken-3": $teal-darken-3,
		"teal-darken-2": $teal-darken-2,
		"teal-darken-1": $teal-darken-1
	),
	$teal-darken
);

$teal-accent: () !default;
$teal-accent: map-merge(

	(
		"teal-accent-4": $teal-accent-4,
		"teal-accent-3": $teal-accent-3,
		"teal-accent-2": $teal-accent-2,
		"teal-accent-1": $teal-accent-1
	),
	$teal-accent
);

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(

	(
		"teal-lighten-1":$teal-lighten-1,
		"teal-lighten-2":$teal-lighten-2,
		"teal-lighten-3":$teal-lighten-3,
		"teal-lighten-4":$teal-lighten-4,
		"teal-lighten-5":$teal-lighten-5,
		"teal-darken-1":$teal-darken-1,
		"teal-darken-2":$teal-darken-2,
		"teal-darken-3":$teal-darken-3,
		"teal-darken-4":$teal-darken-4,
		"teal-accent-1":$teal-accent-1,
		"teal-accent-2":$teal-accent-2,
		"teal-accent-3":$teal-accent-3,
		"teal-accent-4":$teal-accent-4
	),
	$colors
);
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(

	(
		"teal-base": $teal,
		"teal-lighten-1":$teal-lighten-1,
		"teal-lighten-2":$teal-lighten-2,
		"teal-lighten-3":$teal-lighten-3,
		"teal-lighten-4":$teal-lighten-4,
		"teal-lighten-5":$teal-lighten-5,
		"teal-darken-1":$teal-darken-1,
		"teal-darken-2":$teal-darken-2,
		"teal-darken-3":$teal-darken-3,
		"teal-darken-4":$teal-darken-4,
		"teal-accent-1":$teal-accent-1,
		"teal-accent-2":$teal-accent-2,
		"teal-accent-3":$teal-accent-3,
		"teal-accent-4":$teal-accent-4
	),
	$theme-colors
);
