// yellow Color

$yellow: #ffeb3b !default;
$yellow-lighten-5: #fffde7 !default;
$yellow-lighten-4: #fff9c4 !default;
$yellow-lighten-3: #fff59d !default;
$yellow-lighten-2: #fff176 !default;
$yellow-lighten-1: #ffee58 !default;
$yellow-darken-1: #fdd835 !default;
$yellow-darken-2: #fbc02d !default;
$yellow-darken-3: #f9a825 !default;
$yellow-darken-4: #f57f17 !default;
$yellow-accent-1: #ffff8d !default;
$yellow-accent-2: #ffff00 !default;
$yellow-accent-3: #ffea00 !default;
$yellow-accent-4: #ffd600 !default;

$yellow-lighten: () !default;

$yellow-lighten: map-merge(

	(
		"yellow-lighten-5": $yellow-lighten-5,
		"yellow-lighten-4": $yellow-lighten-4,
		"yellow-lighten-3": $yellow-lighten-3,
		"yellow-lighten-2": $yellow-lighten-2,
		"yellow-lighten-1": $yellow-lighten-1
	),
	$yellow-lighten
);
$yellow-darken: () !default;
$yellow-darken: map-merge(

	(
		"yellow": $yellow,
		"yellow-darken-4": $yellow-darken-4,
		"yellow-darken-3": $yellow-darken-3,
		"yellow-darken-2": $yellow-darken-2,
		"yellow-darken-1": $yellow-darken-1
	),
	$yellow-darken
);

$yellow-accent: () !default;
$yellow-accent: map-merge(

	(
		"yellow-accent-4": $yellow-accent-4,
		"yellow-accent-3": $yellow-accent-3,
		"yellow-accent-2": $yellow-accent-2,
		"yellow-accent-1": $yellow-accent-1
	),
	$yellow-accent
);

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(

	(
		"yellow-lighten-1":$yellow-lighten-1,
		"yellow-lighten-2":$yellow-lighten-2,
		"yellow-lighten-3":$yellow-lighten-3,
		"yellow-lighten-4":$yellow-lighten-4,
		"yellow-lighten-5":$yellow-lighten-5,
		"yellow-darken-1":$yellow-darken-1,
		"yellow-darken-2":$yellow-darken-2,
		"yellow-darken-3":$yellow-darken-3,
		"yellow-darken-4":$yellow-darken-4,
		"yellow-accent-1":$yellow-accent-1,
		"yellow-accent-2":$yellow-accent-2,
		"yellow-accent-3":$yellow-accent-3,
		"yellow-accent-4":$yellow-accent-4
	),
	$colors
);
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(

	(
		"yellow": $yellow,
		"yellow-lighten-1":$yellow-lighten-1,
		"yellow-lighten-2":$yellow-lighten-2,
		"yellow-lighten-3":$yellow-lighten-3,
		"yellow-lighten-4":$yellow-lighten-4,
		"yellow-lighten-5":$yellow-lighten-5,
		"yellow-darken-1":$yellow-darken-1,
		"yellow-darken-2":$yellow-darken-2,
		"yellow-darken-3":$yellow-darken-3,
		"yellow-darken-4":$yellow-darken-4,
		"yellow-accent-1":$yellow-accent-1,
		"yellow-accent-2":$yellow-accent-2,
		"yellow-accent-3":$yellow-accent-3,
		"yellow-accent-4":$yellow-accent-4
	),
	$theme-colors
);
