<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container bgwhite">
        <div class="row">
            <nav class="navbar  bg-indigo-600 col-md-12">
                <h3 class="text-white">
                    MD-Alerts
                </h3>
                <ul class="nav  text-right">
                    <li class="nav-item ">
                        <a class="btn btn-default btn-warning " href="../../index.html " id="red ">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container bgwhite">
        <div class="row " id="md-buttons">
            <div class="col-md-4 mt-3 mb-lg-5 ">
                <button class="btn btn-blue-700 mr-1 " id="blue " data-section="md-them ">Blue</button>
                <button class="btn btn-amber-700 mr-1 " id="blue " data-section="md-them ">Amber</button>
                <button class="btn btn-blue-gray-700 mr-1 " id="blue " data-section="md-them ">Blue Gray</button>


            </div>
            <div class="col-md-4 mt-3 mb-lg-5 ">
                <button class="btn btn-brown-700 mr-1 " id="blue " data-section="md-them ">Brown</button>
                <button class="btn btn-cyan-700 mr-1 " id="blue " data-section="md-them ">Cyan</button>
                <button class="btn btn-deep-orange-700 mr-1 " id="blue " data-section="md-them ">Deep Orang</button>



            </div>
            <div class="col-md-4 mt-3 mb-lg-5 ">

                <button class="btn btn-purple-700 mr-1 " id="blue " data-section="md-them ">Purple</button>
                <button class="btn btn-gray-700 mr-1 " id="blue " data-section="md-them ">Gray</button>
                <button class="btn btn-deep-purple-700 mr-1 " id="blue " data-section="md-them ">Deep Purple</button>
            </div>

            <div class="col-md-4 mt-3 mb-lg-5 ">
                <button class="btn btn-teal-700 mr-1 " id="blue " data-section="md-them ">Teal</button>
                <button class="btn btn-yellow-700 mr-1 " id="blue " data-section="md-them ">Yellow</button>
                <button class="btn btn-light-green-700 mr-1 " id="blue " data-section="md-them ">Light Green</button>
            </div>

            <div class="col-md-4 mt-3 mb-lg-5 ">
                <button class="btn btn-lime-700 mr-1 " id="blue " data-section="md-them ">Lime</button>
                <button class="btn btn-indigo-700 mr-1 " id="blue " data-section="md-them ">Indigo</button>
                <button class="btn btn-light-blue-700 mr-1 " id="blue " data-section="md-them ">Light Blue</button>
            </div>

            <div class="col-md-4 mt-3 mb-lg-5 ">
                <button class="btn btn-green-700 mr-1 " id="blue " data-section="md-them ">Green</button>
                <button class="btn btn-pink-700 mr-1 " id="blue " data-section="md-them ">Pink</button>
                <button class="btn btn-orange-700 mr-1 " id="blue " data-section="md-them ">Orang</button>
                <button class="btn btn-red-700 mr-1 " id="red " data-section="md-theme ">Red</button>
            </div>

        </div>

        <div class="row mt-3" id="md" data-section="md">
            <div class="col-md-12">
                <section id="md-theme-section">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="">MD-Alerts</h3>
                            <div id="md-theme"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="../../js/alert.js" async defer></script>
</body>

</html>