//Blue Gray
$blue-gray-50:#ECEFF1 !default;
$blue-gray-100:#CFD8DC !default;
$blue-gray-200:#B0BEC5 !default;
$blue-gray-300:#90A4AE !default;
$blue-gray-400:#78909C !default;
$blue-gray-500:#607D8B !default;
$blue-gray-600:#546E7A !default;
$blue-gray-700:#455A64 !default;
$blue-gray-800:#37474F !default;
$blue-gray-900:#263238 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'blue-gray-50': $blue-gray-50,
    'blue-gray-100':$blue-gray-100,
    'blue-gray-200':$blue-gray-200,
    'blue-gray-300':$blue-gray-300,
    'blue-gray-400':$blue-gray-400,
    'blue-gray-500':$blue-gray-500,
    'blue-gray-600':$blue-gray-600,
    'blue-gray-700':$blue-gray-700,
    'blue-gray-800':$blue-gray-800,
    'blue-gray-900':$blue-gray-900
  ),
  $colors
);

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'blue-gray-50': $blue-gray-50,
    'blue-gray-100':$blue-gray-100,
    'blue-gray-200':$blue-gray-200,
    'blue-gray-300':$blue-gray-300,
    'blue-gray-400':$blue-gray-400,
    'blue-gray-500':$blue-gray-500,
    'blue-gray-600':$blue-gray-600,
    'blue-gray-700':$blue-gray-700,
    'blue-gray-800':$blue-gray-800,
    'blue-gray-900':$blue-gray-900
  ),
  $theme-colors
);