//Gray
$gray-50:#FAFAFA !default;
$gray-100:#F5F5F5 !default;
$gray-200:#EEEEEE !default;
$gray-300:#E0E0E0 !default;
$gray-400:#BDBDBD !default;
$gray-500:#9E9E9E !default;
$gray-600:#757575 !default;
$gray-700:#616161 !default;
$gray-800:#424242 !default;
$gray-900:#212121 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'gray-50': $gray-50,
    'gray-100':$gray-100,
    'gray-200':$gray-200,
    'gray-300':$gray-300,
    'gray-400':$gray-400,
    'gray-500':$gray-500,
    'gray-600':$gray-600,
    'gray-700':$gray-700,
    'gray-800':$gray-800,
    'gray-900':$gray-900
  ),
  $colors
);

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'gray-50': $gray-50,
    'gray-100':$gray-100,
    'gray-200':$gray-200,
    'gray-300':$gray-300,
    'gray-400':$gray-400,
    'gray-500':$gray-500,
    'gray-600':$gray-600,
    'gray-700':$gray-700,
    'gray-800':$gray-800,
    'gray-900':$gray-900
  ),
  $theme-colors
);