//Orange
$orange-50:#FFF3E0 !default;
$orange-100:#FFE0B2 !default;
$orange-200:#FFCC80 !default;
$orange-300:#FFB74D !default;
$orange-400:#FFA726 !default;
$orange-500:#FF9800 !default;
$orange-600:#FB8C00 !default;
$orange-700:#F57C00 !default;
$orange-800:#EF6C00 !default;
$orange-900:#E65100 !default;
$orange-A100:#FFD180 !default;
$orange-A200:#FFAB40 !default;
$orange-A400:#FF9100 !default;
$orange-A700:#FF6D00 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'orange-50': $orange-50,
    'orange-100':$orange-100,
    'orange-200':$orange-200,
    'orange-300':$orange-300,
    'orange-400':$orange-400,
    'orange-500':$orange-500,
    'orange-600':$orange-600,
    'orange-700':$orange-700,
    'orange-800':$orange-800,
    'orange-900':$orange-900,
    'orange-A100':$orange-A100,
    'orange-A200':$orange-A200,
    'orange-A400':$orange-A400,
    'orange-A700':$orange-A700
  ),
  $colors
);

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'orange-50': $orange-50,
    'orange-100':$orange-100,
    'orange-200':$orange-200,
    'orange-300':$orange-300,
    'orange-400':$orange-400,
    'orange-500':$orange-500,
    'orange-600':$orange-600,
    'orange-700':$orange-700,
    'orange-800':$orange-800,
    'orange-900':$orange-900,
    'orange-A100':$orange-A100,
    'orange-A200':$orange-A200,
    'orange-A400':$orange-A400,
    'orange-A700':$orange-A700
  ),
  $theme-colors
);